.contact-list {
  width: 480px;
  overflow: hidden;
  border: 1px solid red {
    collapse: collapse;
  }

  thead {
    tr {
      background-color: deepskyblue;
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &.selected {
        background-color: deepskyblue;
      }

      td {
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  @media (hover: hover) {
    tbody tr:hover {
      background-color: deepskyblue;
    }
  }
}
