.wrapper {
  position: relative;
  width: 480px;
  height: 100%;
  margin-right: 2vw;
  padding: 0;
  border: 2px solid var(--brite) {
    radius: 10px;
  }
  // padding-inline: 1rem;
  legend {
    // width: 100%;
    flex-grow: 1;
    // margin-inline: 1.5em;
    padding-inline: 1em;
    // border: 1px solid red;

    span {
      padding-inline: 1em;
      color: silver;
      font: {
        size: small;
        weight: 500;
      }
      text: {
        align: left;
        transform: uppercase;
      }
      border: 2px solid var(--brite) {
        radius: 100px;
      }
    }

    button {
      --size: 2rem;
      cursor: pointer;
      width: var(--size);
      height: var(--size);
      font-size: 1rem;
      color: silver;
      border: 2px solid var(--brite) {
        radius: 50%;
      }
      transition: 0.1s ease-out;

      &:hover {
        background-color: var(--brite);
        color: var(--lite);
      }
    }
  }

  .contact-list-wrap {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    padding: 1em {
      right: 0.5em;
    }

    .header {
      background-color: var(--mid);
    }

    .contact-list {
      margin: 0;
      padding-inline: 0.5em;
      height: 100%;
      // border: 1px solid orange;
      overflow: hidden scroll;

      li {
        justify-content: space-between;
        padding: 0.25em 1em;
        border-radius: 5px;

        &.selected {
          background-color: var(--mid);
          cursor: default;
          color: white;
        }

        &:not(.selected) {
          cursor: pointer;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
        }

        div {
          white-space: nowrap;
          text-overflow: ellipsis;

          &:first-of-type {
            text-align: left;
            font-weight: 500;
          }
        }
      }
    }

    @media (hover: hover) {
      .contact-list li:not(.selected):hover {
        background-color: hsla(0, 0%, 0%, 0.05);
      }
    }
  }
}
