.contact-card {
  align-self: center;
  display: block;
  width: 480px;
  padding: 2rem;
  border: 2px solid #ccc {
    radius: 10px;
  }

  .split-view & {
    margin-bottom: 25vh;
  }

  .cards-view & {
    margin-bottom: 1rem;
  }

  legend {
    text-align: right;
    margin-right: 1em;
    padding-inline: 0.5em;

    &::before {
      content: "ID: ";
      text-transform: uppercase;
      font: {
        size: smaller;
      }
    }
  }

  h2 {
    margin: 0 {
      bottom: 1em;
    }
  }

  h3,
  h4,
  h5 {
    margin: 0;
    font-weight: normal;
  }

  .contact-info {
    list-style-type: none;
    padding-left: 0;

    li {
      &::before {
        content: attr(data-contact-type) ":";
        text-transform: uppercase;
        font: {
          size: small;
        }
        color: var(--mid);
        margin-right: 1ch;
      }
    }
  }
}
