.wrapper {
  position: relative;
  width: 480px;
  // height: 100%;
  margin-right: 2vw;
  margin-block: 1em;
  padding: 0;
  border: 2px solid var(--brite) {
    radius: 10px;
  }

  // padding-inline: 1rem;
  legend {
    // width: 100%;
    margin-inline: 1.5em;
    // display: inline-flex;
    text-align: left;
    padding-inline: 0.5em;
    justify-content: space-between;
    // border: 1px solid red;

    span {
      padding-inline: 1em;
      color: silver;
      font: {
        size: small;
        weight: 500;
      }
      text: {
        align: left;
        transform: uppercase;
      }
      border: 2px solid var(--brite) {
        radius: 100px;
      }
    }
  }
  .add-contact {
    --size: 2rem;
    cursor: pointer;
    position: absolute;
    top: calc(-0.75em + 1px);
    right: 1em;
    width: var(--size);
    height: var(--size);
    padding: 0;
    font-size: 1rem;
    color: silver;
    border: 2px solid var(--brite) {
      radius: 50%;
    }
    transform: translateY(-50%);
    transition: 0.1s ease-out;
    z-index: 100;

    &:hover {
      background-color: var(--dark);
      border-color: var(--dark);
      color: #fcfcfc;
    }

    &:focus {
      outline: none;
      border-color: var(--mid);
    }
  }

  .contact-list-wrap {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    padding: 1em {
      right: 0.5em;
    }

    .header {
      background-color: var(--mid);
    }

    .contact-list {
      margin: 0;
      padding: 2px 0.5em;
      height: 100%;
      // border: 1px solid orange;
      overflow: hidden scroll;

      li {
        justify-content: space-between;
        padding: 0.25em 1em;
        border-radius: 5px;

        &:focus {
          outline: none;
        }

        &.selected {
          background-color: var(--mid);
          cursor: default;
          color: white;
        }

        &:not(.selected) {
          cursor: pointer;

          &:hover {
            background-color: hsla(0, 0%, 0%, 0.05);
          }
          &:focus {
            background-color: hsla(0, 0%, 0%, 0.05);
          }
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
        }

        div {
          white-space: nowrap;
          text-overflow: ellipsis;

          &:first-of-type {
            text-align: left;
            font-weight: 500;
          }
        }
      }
    }
  }
}
