.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  flex-grow: 1;
  background-color: var(--lite);
}

header,
footer {
  align-self: stretch;
}

header {
  background-color: var(--mid);
  color: var(--lite);
  align-self: stretch;
  margin-bottom: 1rem;

  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
  }
}

footer {
  background-color: var(--darker);
  color: var(--lite);
  padding: 1rem;

  strong {
    font-weight: 500;
  }
}

main {
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 5rem;
}

.contact-search {
  appearance: none;
  margin-bottom: 0.5rem;
  background-color: transparent;
  color: var(--mid);
  outline: none;
  padding: 0.75em;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
  border: 1.5px solid var(--mid) {
    radius: 100px;
  }

  &::placeholder {
    color: var(--mid);
    font-style: italic;
    opacity: 0.75;
  }
}

.contact-box {
  overflow: hidden;
  flex-grow: 1;
  // border: 1px solid red;

  &.cards-view {
    overflow-y: scroll;
  }

  .no-contact {
    --size: 480px;
    width: var(--size);
    height: calc(var(--size) * 0.75);
    color: var(--mid);
    font: {
      weight: normal;
      style: italic;
    }
    border: 2px solid var(--faint) {
      radius: 10px;
    }
    align-self: center;
  }
}

.contact-filter {
  appearance: none;
}

.mode-selector {
  margin-bottom: 1em;
  button {
    appearance: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: silver;
    font-size: small;
    padding-inline: 1em;
    background-color: transparent;

    &:focus {
      outline: none;
      background-color: hsla(0, 0%, 0%, 0.01);
    }

    &.active {
      color: var(--mid);
    }

    &.inactive {
      cursor: pointer;
    }

    &:not(:last-of-type) {
      border-right: 1px solid hsla(0, 0%, 0%, 0.1);
    }
  }
}

@media (hover: hover) {
  .mode-selector button:not(.active):hover {
    color: var(--mid);
  }
}
