:root {
  --lite: #eee;
  --brite: #ddd;
  --mid: hsl(202, 70%, 64%);
  --dark: hsl(220, 40%, 45%);
  --darker: hsl(240, 40%, 25%);
  --shadow: hsla(0, 0%, 0%, 0.1);
  --faint: hsla(0, 0%, 0%, 0.05);
}

html {
  background-color: var(--darker);
  color: var(--dark);
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font: {
    family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    weight: 400;
    synthesis: none;
  }
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--faint);
}

a {
  text-decoration: none;
  color: var(--mid);

  &:hover {
    filter: brightness(1.25);
  }
}

::-webkit-scrollbar {
  --size: 10px;
  width: var(--size);
  height: var(--size);

  &-track {
    background: transparent;
    // margin: {
    //   block: 0.5em;
    // }
  }

  &-thumb {
    cursor: grab;
    background: var(--mid);
    border-radius: 100px;
  }

  &-corner {
    background: transparent;
  }
}

.flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.middle {
    align-items: center;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }
}
